body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 30%;
    margin: 3% auto;
    background: white;
    padding: 2%;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    margin: 5px;
    width: 80%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ddd;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

li.done {
    text-decoration: line-through;
    color: gray;
}